*.o
*.Po
*.bin
*.ps
*.json
*.vis


Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/DrawViz/Makefile
src/DrawViz/Makefile.in
src/DrawViz/drawviz
src/config.h
src/config.h.in
src/p4schedgen/Makefile
src/p4schedgen/schedgen_portals
src/schedgen/.deps/
src/schedgen/Makefile
src/schedgen/Makefile.in
src/schedgen/schedgen_mpi
src/simulator/.deps/
src/simulator/Makefile
src/simulator/Makefile.in
src/simulator/cmdline.c
src/simulator/cmdline.h
src/simulator/lgs
src/simulator/modules/dma/.deps/
src/simulator/modules/dma/.dirstamp
src/simulator/modules/loggop/.deps/
src/simulator/modules/loggop/.dirstamp
src/simulator/modules/packet_net/.deps/
src/simulator/modules/packet_net/.dirstamp
src/simulator/modules/portals4/.deps/
src/simulator/modules/portals4/.dirstamp
src/simulator/modules/portals4_smp/.deps/
src/simulator/modules/portals4_smp/.dirstamp
src/simulator/modules/portals4_smp/gem5/.deps/
src/simulator/modules/portals4_smp/gem5/.dirstamp
src/stamp-h1
src/txt2bin/Makefile
src/txt2bin/goal2bin

